* {
  /*reset for all items*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  background: #d1dbe5;
  flex-direction: column; /*Change to column */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.memory-game {
  width: 80vw; /* Adjust as needed */
  max-width: 800px; /* Set a max width if necessary */
  height: 80vh; /* Adjust as needed */
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(100% / var(--columns) - 10px);
  height: calc(100% / var(--rows) - 10px);
  margin: 5px; /* Adjust margin percentage */
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  /*When using a mouse, "activation" typically starts when the user presses down the primary mouse button.*/
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  /*when the flip class is present rotate the y */
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 40px;
  background: #bc6bb420;
  backface-visibility: hidden; /* every element have a back face .so we added this for hide the back face of the element*/
}

.front-face {
  transform: rotateY(180deg);
}

button,
#time,
#score,
#final-score,
#level-label,
#category-label {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #317434;
}
.buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.memory-card.hint-reveal {
  transform: rotateY(180deg);
}

#hint-count {
  margin-top: 10px;
  font-size: 16px;
}
